h2, h3, h4, h5{
    color: #303030;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 20px;
}
img{
    object-fit: cover;
}

.cards .container-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    max-width: 1830px;
    margin: 0 auto;
    padding: 32px 16px;
    background-color: rgb(234, 232, 232);
}
.card{
    background-color: inherit;
    width: calc(50% - 16px);
    min-width: 420px;
    color: grey;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 16px;
    gap: 16px;
    height: 540px;
}
.card:hover{
    box-shadow: 3px 3px 15px rgb(187, 187, 187);
    background-color: aliceblue;
}
.card,
.author,
.card-text{
    display: flex;
}
.author{
    gap: 16px;
}
.card-text{
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    flex: 1 1 43%;
}
.card-img{
    width: 53%;
    flex: 1 1 53%;
    height: 100%;
    box-shadow: 3px 3px 15px rgb(187, 187, 187);
    border-radius: 16px;
}

.author img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
    }
.author h3,
.card-text h4,
.card-text h2{
    font-weight: 600;
}
.card-text{
    padding: 16px 32px 16px 8px;
}
@media(max-width: 1120px){
    .card{
        gap: 16px;
    }
}
@media(max-width: 992px){
    .card{
        width: 100%;
        min-height: 400px;
        height: auto;
    }
}
@media(max-width: 600px){
    .card{
        flex-direction: column;
        height: fit-content;
        min-width: unset;
    }
    .card-img, .card-text{
        flex-basis: 100%;
        width: 100%;
        max-width: unset;
    }
    .card-img{
        max-height: 250px;
        height: 100%;
    }
    .card-text{
        padding: 8px 16px 16px 16px;
        justify-content: flex-start;
    }
}