.form-select-chosen {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.form-select-chosen__input {
  display: none;
}

.form-select-chosen__output-wrap {
  border: 1px solid;
}

.form-select-chosen__output-wrap:has(+ .form-select-chosen__search.is-visible) {
  position: relative;
  z-index: 3;
}

.form-select-chosen__output:empty::before {
  content: attr(data-placeholder);
  color: #898989;
}

.form-select-chosen__search {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 1px solid;
  border-top: none;
  z-index: 2;
  background-color: white;
}

.form-select-chosen__search:not(.is-visible) {
  display: none;
}

.form-select-chosen__search-input {
  border: 1px solid;
  margin: 0.25rem;
  outline: none;
}

.form-select-chosen__options {
  margin: 0;
  padding: 0;
  max-height: 400px;
  list-style-type: none;
  overflow: auto;
}
